@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 20px;
}

.upper-nav,
.lower-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.upper-right-nav img,
.lower-nav img {
  width: 17px;
  margin-right: 5px;
}

.upper-nav h5 {
  font-size: 14px;
}

.lower-nav h3 {
  font-size: 18px;
}

/* Hero */
.hero {
  background-color: #1c1a19;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: bottom right;
  padding: 0 20px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.hero h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: Crete Round, sans-serif;
  font-family: 400;
  margin-top: -100px;
}

.hero h2 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: #fff5e1;
  margin: 10px 0;
}

.hero p {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: poppins, sans-serif;
}
