@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 20px;
}

.upper-nav,
.lower-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.upper-right-nav img,
.lower-nav img {
  width: 17px;
  margin-right: 5px;
}

.upper-nav h5 {
  font-size: 14px;
}

.lower-nav h3 {
  font-size: 18px;
}

/* Hero */
.hero {
  background-color: #1c1a19;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: bottom right;
  padding: 0 20px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.hero h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: Crete Round, sans-serif;
  font-family: 400;
  margin-top: -100px;
}

.hero h2 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: #fff5e1;
  margin: 10px 0;
}

.hero p {
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  font-family: poppins, sans-serif;
}

/* My Work section */

.work {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-work {
  margin-bottom: 70px;
}

.recent-work h2 {
  padding: 30px 70px;
  border-bottom: #212121 1px solid;
  font-family: Crete Round, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #1c1a19;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.see-project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.see-project img {
  width: 100%;
}

.see-project h3 {
  font-family: Crete Round, sans-serif;
  color: #091e42;
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0;
}

.see-project p {
  color: #091e42;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.skills ul {
  display: flex;
  margin-bottom: 20px;
}

.skills ul li {
  text-decoration: none;
  list-style: none;
}

.skills-new span {
  padding: 10px 12px;
  border: #8993a4 1px solid;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.skills ul li span {
  padding: 10px 12px;
  border: #8993a4 1px solid;
  color: #091e42;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn {
  border: none;
  width: fit-content;
  background-color: #ff6b00;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
}

.project-new {
  background-image: url(./images/Img-Placeholder2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  background-color: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
}

.project-new h3 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  font-family: Crete Round, sans-serif;
}

.project-new p {
  color: #fff;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
}

.skills-new ul {
  display: flex;
}

.skills-new ul li {
  text-decoration: none;
  list-style: none;
}

.see-project-new button {
  border: none;
  width: 100%;
  background-color: #ff6b00;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.about {
  background-color: #1c1a19;
  padding: 50px 20px;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 100% 25%;
}

.about-me h2 {
  color: #ff6b00;
  font-size: 72px;
  font-family: Crete Round, sans-serif;
}

.about-me p {
  color: #f4f5f7;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
}

.line {
  border: 1px solid #fff;
  width: 100%;
  margin-top: 300px;
}

.about-skills {
  padding-top: 50px;
}

.about-skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.about-skills ul li {
  list-style: none;
}

.headline {
  display: flex;
  align-items: center;
}

.bullet,
.bullet-ry,
.bullet-ci {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  display: block;
  margin-right: 10px;
}

.bullet-ry {
  transform: rotate(45deg);
}

.bullet-ci {
  border-radius: 50%;
}

.headline h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: poppins, sans-serif;
}

.languages {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
}
